
@import 'modules/variables';
@import 'modules/base';


body {
  background: darkgrey;
  font-family: Arial;
}

.post {
  background-color: darkcyan;
}

.postTitle {
  font-size: 2em;
}

.postBody {
  font-size: 2em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}


